src/Bibliothèque.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="plist" type="plistType"/>
  <xs:complexType name="arrayType">
    <xs:sequence>
      <xs:element type="dictType" name="dict" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="plistType">
    <xs:sequence>
      <xs:element type="dictType" name="dict"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="version"/>
  </xs:complexType>
  <xs:complexType name="dictType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element name="key">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Track ID"/>
            <xs:enumeration value="1461"/>
            <xs:enumeration value="Name"/>
            <xs:enumeration value="Major Version"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="integer"/>
      <xs:element type="xs:string" name="string"/>
      <xs:element type="xs:string" name="date"/>
      <xs:element type="xs:string" name="true"/>
      <xs:element name="false">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
            <xs:enumeration value="Video Width"/>
            <xs:enumeration value="Music Video"/>
            <xs:enumeration value="All Items"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="dictType" name="dict"/>
      <xs:element type="arrayType" name="array"/>
      <xs:element name="data">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="
			AQEAAwAAAAIAAAAZAAAAAAAAAAcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAA==
			"/>
            <xs:enumeration value="Smart Criteria"/>
            <xs:enumeration value="
			AQEBBQAAABwAAAABAAAAAAAAAAcAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAA==
			"/>
            <xs:enumeration value="
			AQEBAwAAABkAAAAZAAAAAAAAAAcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAA==
			"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>